<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SgOVI</title>
  <link rel="stylesheet" type="text/css" href="/css/sgovi.css" th:href="@{/css/sgovi.css}"/>
</head>
<body>

<header>
  <h1>SgOVI - Oficina por la Vida Independiente</h1>
  <nav>
    <ul>
        <li><a th:href="@{/}">Inici</a></li>
        <li><a th:href="@{/usuarios}">Usuarios OVI</a></li>
        <li><a th:href="@{/candidatos}">Candidatos PAP/PATI</a></li>
        <li><a th:href="@{/solicitudes/lista}">Solicitudes AP</a></li>
        <li><a th:href="@{/candidatos/registro}">Registrarse como Candidato</a></li>
        <li><a th:href="@{/candidatos/revision}">Gestión Candidatos (Técnico)</a></li>
        <li><a th:href="@{/tecnico/solicitudes}">Panel técnico</a></li>
    </ul>
  </nav>
</header>

<main>
  <div layout:fragment="content">
    <!-- El contenido de cada página va aquí -->
  </div>
</main>

<footer>
  <p>SgOVI - Oficina por la Vida Independiente</p>
</footer>

</body>
</html>